<div class="card">
  <%= link_to image_tag(fail.image.variant(resize: "300x400"), class: :card__img ), fail_path(fail) %>
  <div class="card__body">
    <%= link_to fail.title, fail_path(fail.id), class: :card__title%>
    <%= link_to fail.prefecture, fails_path(prefecture: fail.prefecture), class: :card__user%>
    <%= link_to "#{fail.user.name}", user_path(fail.user), class: :card__user %>
  </div>
</div>