<main class="main">
  <div class="inner">

    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: 'fail' , collection: @fails %>
    </div>
  </div>
</main>
